.edge-data-frame {
  display:flex;
  flex-direction: column;
  min-width:300px;
}

.edge-data-element {
  display:flex;
  flex-direction:row;
  margin-top:5px;
}

.edge-data-label {
  font-size:small;
  width: 90px;
  margin-right:5px;
  text-align:right;
  color:grey;
}

.edge-data-value {}


.panel-top {
  display:flex;
  flex-direction:row;
}

.pin-indicator {
 width:30px;
 height:30px;
}

.pin-svg {
  cursor:pointer;
}